*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

section {
    padding: 40px 15%;
}
    
.contac {
    background : #101010 ;
    height: 100% ;
    width: 100% ;
    min-height: 100vh ;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}
.contac-img img{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 25px;
}
.contac-form h1{
    font-size: 70px;
    color: #fff;
    margin-bottom: 20px;
}
span{
    color: #f9004d;
}
.contac-form p{
    color: #c6c9d8bf;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}
.contac-form form{
    position: relative;
}
   
.contac-form form input,
form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}